<ion-header [translucent]="true">
  <ion-toolbar color="green">
    <ion-title color="light">
      Compornent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label>
    Action Sheets
  </ion-label>
  <ion-button id="open-action-sheet">Open</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-item>

<ion-item>
  <ion-label>
    Alerts
  </ion-label>
  <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="บันทึกแล้ว"
  [buttons]="alertButtons"
></ion-alert>
</ion-item>

<ion-item>
  <ion-label>
    Alert input
  </ion-label>
  <ion-button id="present-alert1">Click Me</ion-button>
<ion-alert
  trigger="present-alert1"
  header="เพิ่มสมาชิก"
  [buttons]="alertButtons1"
  [inputs]="alertInputs"
></ion-alert>
</ion-item>

<ion-item>
  <ion-label>
    Badge
  </ion-label>
  <ion-list>
    <ion-item>
      <ion-badge>1</ion-badge>
    </ion-item>
  </ion-list>
</ion-item>

<ion-item>
  <ion-label>
    checkbox
  </ion-label>
  <ion-checkbox>Themed checkbox</ion-checkbox>
</ion-item>


</ion-content>
